body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, sans-serif;
}

.sideFrame{
    width: 200px;
    height: 100vh;
    overflow: hidden;
}

.contentFrame{
    flex: 1;
    height: 100vh;
    overflow: hidden;
}