body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ebe9e9;
    height: 100vh;
    display: flex;
}

#sideFrame {
    width: 240px;
    height: 100%;
}

.main-content {
    width: 100%;
    background: rgba(152, 210, 248, 0.6);
}
