<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidevar</title>
    <link rel="stylesheet" href="css/top.css" />
  </head>
  <body style="height: 100%;">

    <div class="sidebar">
      <div class="logo">
        <img src="./img/logo_on.png" alt="">
      </div>
      <ul class="main">
        <!-- <% if csAuth ="2" then %> -->
        <li>
          <a href="/mainFrame.asp?menu=user">
            <i class="fa-solid fa-user"></i>
            <span>사원관리</span>
          </a>
        </li>
        <!-- <% end if %> -->
        <li>
          <a href="/mainFrame.asp?menu=bbs">
            <i class="fa-solid fa-clipboard"></i>
            <span>게시판</span>
          </a>
        </li>
        <li>
          <a href="/mainFrame.asp?menu=client">
            <i class="fa-solid fa-file-pen"></i>
            <span>고객관리</span>
          </a>
        </li>
        <li>
          <a href="/mainFrame.asp?menu=report">
            <i class="fa-solid fa-envelope-open-text"></i>
            <span>지원보고서</span>
          </a>
        </li>
        <li>
          <a href="/mainFrame.asp?menu=maintenance_new">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <span>유지보수관리</span>
          </a>
        </li>
        <li>
          <a href="/mainFrame.asp?menu=sale">
            <i class="fa-regular fa-id-card"></i>
            <span>영업관리</span>
          </a>
        </li>
        <li>
          <a href="/mainFrame.asp?menu=stock">
            <i class="fa-solid fa-dolly"></i>
            <span>재고관리</span>
          </a>
        </li>
        <li>
          <a href="/mainFrame.asp?menu=schedule">
            <i class="fa-solid fa-clock"></i>
            <span>일반일정관리</span>
          </a>
        </li>
        <li>
          <a href="/user/user_mine.asp" target="mainFrame">
            <i class="fa-solid fa-cog"></i>
            <span>Settings</span>
          </a>
        </li>
        <li class="logout">
          <a href="/logout.asp" target="_top">
            <i class="fa-solid fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
    
    <script src="https://kit.fontawesome.com/140401ad7a.js" crossorigin="anonymous"></script>
  </body>
</html>